@{
    ViewBag.Title = "Check My IP";
}

<h2 id="message">Checking Ip...</h2>

<script src="~/Scripts/IPTestCaller.js"></script>

<script type="text/javascript">
    $(function() {
        var check = new ipChecker({
            target: "//checkmyip.quarterwit.com/home/CheckIP/",
            onReady: function (result) {
                var answer = "Your IP is: " + result.client_ip;
                $("#message").text(answer);
            }
        });
        check.initialize();
    })
</script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12125945-2']);
    _gaq.push(['_setDomainName', 'quarterwit.com']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>